{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body -%}
    <h1>Edit Post</h1>

    {{ form(form, { 'attr': {'class': 'form'} }) }}
{% endblock %}